<h1><%= @department.name %></h1>

<%= link_to 'Add Inventory', new_department_inventory_path(@department) %>

<ul>
  <% @inventories.each do |inventory| %>
    <li>
      <%= inventory.name %>
      <%= link_to 'Edit', edit_department_inventory_path(@department, inventory) %> |
      <%= link_to 'Delete', department_inventory_path(@department, inventory), method: :delete %>
    </li>
  <% end %>
</ul>
