<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= item.cost %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= item.note %>
  </p>

</div>
